:root {
    --col1: #252527;
    --col2: rgb(13, 42, 59);
    --col3: #a72d22;
    --col4: #9fa089;
    --Sunburst: #c63c00;
    --Black: #000;
    --Buttercream: #f4d367;
    --PolarWhite: #e7e1db;
    --SageGreenMetallic: #9cb7a6;
    --SonicRed: #c50003;
    --Tidepool: #317782;
    --Maple: #f5f5f5;
    --PauFerro: #624e43;
}

$bp-largest: 75em; //1200px
$bp-larg: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 41.25em; //660px

// tylko do obrazkow
$bp-700: 43.75em; //600px
$bp-600: 37.5em; //600px
$bp-560: 35em; //600px
$bp-530: 33.125em; //600px
$bp-500: 31.25em; //500px
$bp-480: 30em; //480px
$bp-460: 28.75em; //460px
$bp-440: 27.5em; //440px
$bp-420: 26.25em; //430px
$bp-400: 25em; //400px
$bp-380: 23.75em; //380px
$bp-360: 22.5em; //360px
$bp-340: 21.25em; //340px
$bp-320: 20em; //320px


* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-largest) {
        font-size: 55%;
    }

    @media only screen and (max-width: $bp-larg) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 45%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 40%;
    }
}

body {
    font-family: 'Dosis';
    font-size: 2rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }

    font-weight: 200;
    color: var(--col1);
    background-color: var(--Maple);
    // background-image: radial-gradient(rgb(73, 70, 70), rgb(11, 29, 37));


}
